@font-face {
  font-family: "CircularXXWeb-Light";
  src:
    url("../fonts/CircularXXWeb-Light.woff") format("woff"),
    url("../fonts/CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src:
    url("../fonts/CircularXXWeb-Book.woff") format("woff"),
    url("../fonts/CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src:
    url("../fonts/CircularXXWeb-Bold.woff") format("woff"),
    url("../fonts/CircularXXWeb-Bold.woff2") format("woff2");
}