@use "fonts";
@use "foundations";
@use "atoms";

$background: foundations.gradient(neutral);

body {
  background: $background;
  color: foundations.color(neutralLight);
  font-family: "CircularXXWeb-Bold", "Helvetica", "Arial", sans-serif;
  font-feature-settings: "ss08" on;
  font-size: 25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
}

